$path: '../fonts/';

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style:  normal;

  src: url('#{$path}fontawesome-webfont.eot?v=4.4.0');
  src: url('#{$path}fontawesome-webfont.eot?#iefix&v=4.4.0')             format('embedded-opentype'),
       url('#{$path}fontawesome-webfont.woff2?v=4.4.0')                  format('woff2'),
       url('#{$path}fontawesome-webfont.woff?v=4.4.0')                   format('woff'),
       url('#{$path}fontawesome-webfont.ttf?v=4.4.0')                    format('truetype'),
       url('#{$path}fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
}