$line-height: assert(data('objects.form.line-height'), (type: 'number'));

.o-form {
  @extend %p-grid;
  line-height: $line-height;
}

// query could be a label or not (e.g.: checkboxes have their own label)
.o-form__query {
  @extend
    %p-grid__cell,
    %p-grid__cell--span-8,
    %p-grid__cell--span-24\@S,
    %p-grid__cell--gutter-right,
    %p-grid__cell--gutter-right-0\@S
    ;
  margin: .25em 0;
  padding-top: .625em;
  padding-bottom: .625em;

  @include media(data('medias.S')) {
    padding-bottom: 0;
    padding-left: .625em;
  }
}

.o-form__field {
  @extend
    %p-grid__cell,
    %p-grid__cell--span-16,
    %p-grid__cell--span-24\@S
    ;
  margin: .25em 0;
}